header {
	background-color: rgba(67,205,128,1);
	background-position: center;
	background-size: cover;
	border-bottom: 4px dotted rgba(255,255,255,.7);
	text-align: center;
	font-family: 'Engagement', cursive;
	font-size: 100px;
	margin: 0 auto;
}
body {
	background-color: rgba(60,179,113,1);
	background-position: center;
	color: white;
	padding: 0 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-align: justify;
}
.headshot {
	width: 230px;
  	height: 300px;
	border: 5px solid rgba(50,50,50,.8);
	border-radius: 25px;
	padding: 15px;
	text-align: center;
	background-color: rgba(255,255,255,.7);
}
.carousel {
	
}
