body {
	background-color: rgba(60,179,113,1);
	background-size: cover;
	background-position: center;
	color: solid white;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-align: justify;
}
h1 {
	font-family: 'Engagement', cursive;
	text-align: center;
	font-size: 150px;
}
div {
  	position: relative;
  	left: 50%;
}
.Header {
	width: 230px;
  	height: 300px;
	border: 8px solid rgba(50,50,50,.8);
	border-radius: 25px;
	position: absolute;
	left: 50%;
}
.carousel {
	
}
